.info-agg-header {
  width: 100%;
  height: 50px;
  border-bottom: 2px;
  background-color: #00FFE6;
}

.header-logo {
  margin: 4px 0 0 40px;
  float: left;
  font-size: 2em;
  color: #004039;
}

.header-log-in {
  float: right;
}

.header-log-in > form > fieldset > input,
.header-log-in > form > fieldset > button {
  margin-right: 10px;
}