.source-select-btn-group {
  text-align: center;
}

.source-button-unselected {
  color: #FBFBFB;
}

.source-button-selected {
  background-color: #00CC33;
}

.source-button:focus {
  outline: none;
}